@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Poppins", sans-serif;
  }

  :root {
    --main-color: #033a80;
    --bg-color: #fff;
    --text-color: #0f0c27;
    --hover: hsl(260, 100%, 51%);
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
  }

  section {
    padding: 50px 10%;
  }

  body.active {
    --text-color: #fff;
    --bg-color: #000;
  }
 
  body {
    background: var(--bg-color);
    color: var(--text-color);
  }

  *::selection {
    color: var(--bg-color);
    background: var(--main-color);
  }
 

  .heading {
    text-align: center;
  }

  .heading h1{
    text-align: 50px;
  }
 
  .heading h2 {
    font-size: 30px;
  }

  .heading span {
    font-size: var(--p-font);
    color: rgb(2, 166, 70);
  }
 
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73,
      2px 2px 5px rgba(94, 104, 121, 0.288);
  }

  header.shadow {
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
  }

  .logo {
    font-size: 1.61rem;
    font-weight: 600;
    color: var(--text-color);
  }

  .logo span {
    font-size: 1.61rem;
    font-weight: 600;
    color: crimson;
  }
 
  .navbar {
    display: flex;
  }

  .navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
  }
 
  .navbar a:hover {
    color: var(--hover);
  }

  #menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
  }
 
  #darkmode {
    font-size: 22px;
    cursor: pointer;
  }
 
  .home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
 
  .home-image {
    order: 3;
  }
 
  .home-image img {
    width: 100%;
  }
 
  .home-text span {
    font-size: var(--medium-font);
    font-weight: 500;
  }
 
  .home-text h1 {
    font-size: var(--big-font);
  }

  .home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
  }

  .social {
    display: flex;
    flex-direction: column;
  }
 
  .social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
  }

  .social a:hover {
    color: var(--hover);
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
 
  .about-img img {
    width: 80%;
    border-radius: 0.5rem;
  }
 
  .about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
  }
 
  .footer {
    display: grid;
    place-items: center;
    padding: 20px;
    color: #000;
  }
 
  .footer h2 {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    color: var(--text-color)
  }
 
  .footer-social a i {
    color: rgb(10, 26, 208);
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .footer-social a i:hover{
    color: #000;
  }

  /* get started section  */

  .get{
    text-align: left;
        font-size: large;
        margin-top: 5%;
        margin-bottom: 10%;
  }

.working h3{
        margin-top: 10%;
        color: black;
    
}

.working h4{
    color: var(--main-color);
    margin-top: 5%;
}

.use{
    margin-top: 10%;
}

.installation{
    margin-top: 10%;
}

.list-of-vulnerabilities{
    margin-top: 10%;
}

.list-of-tool{
    margin-top: 10%;
}

.para{
    width: 100%;
}
/* table design  */
table.GeneratedTable {
    width: 100%;
    background-color: lightsteelblue;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #0a0a0a;
    border-style: solid;
    color: #000000;
  }
  
  table.GeneratedTable td {
    border-width: 2px;
    border-color: #060606;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable thead {
    background-color: #040404;
  }

.lit{
    color: brown;
}

.installation ol{
    background-color: lightgrey;
    width: 800px;
    border: 5px solid black;
    padding: 15px;
    margin: 20px;
}

.use ul{
    background-color: lightgrey;
    width: 700px;
    border: 3px solid black;
    padding: 15px;
    margin: 20px;
}
.local-file ul{
    background-color: lightgrey;
    width: 750px;
    border: 3px solid black;
    padding: 15px;
    margin: 20px;
}

.local-file h3{
    margin-top: 3%;
    margin-bottom: 3%;
}

.local-file h4{
    margin-top: 3%;
    margin-bottom: 3%;
}


    /* For Mobile */
    @media (max-width: 991px) {
        header {
          padding: 18px 4%;
        }
     
        section {
          padding: 50px 4%;
        }
      }
     
      @media (max-width: 881px) {
        :root {
          --big-font: 2.7rem;
          --medium-font: 1.4rem;
        }
      }
     
      @media (max-width: 768px) {
        :root {
          --big-font: 2.4rem;
          --medium-font: 1.2rem;
        }
     
        header {
          padding: 11px 4%;
        }
     
        #menu-icon {
          display: initial;
          color: var(--text-color);
        }
     
        header .navbar {
          position: absolute;
          top: -500px;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          background: var(--bg-color);
          box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
          transition: 0.2s ease;
          text-align: center;
        }
     
        .navbar.active {
          top: 100%;
        }
     
        .navbar a {
          padding: 1.5rem;
          display: block;
          background: var(--bg-color);
        }
     
        #darkmode {
          position: absolute;
          top: 1.4rem;
          right: 2rem;
        }
     
        .scroll-down {
          display: none;
        }
     
        .home {
          grid-template-columns: 0.5fr 3fr;
        }
     
        .home-text {
          grid-column: 1/3;
          padding-left: 1.4rem;
        }
     
        .home-image {
          order: initial;
        }
     
        .about-container {
          grid-template-columns: 1fr;
        }
     
        .about-img {
          display: flex;
          justify-content: center;
        }
     
        .skills-container {
          grid-template-columns: 1fr;
        }
     
        .skills-img img {
          padding-left: 0;
        }
     
        .skills-img {
          padding-top: 2rem;
          display: flex;
          justify-content: center;
        }
     
        .contact-form form {
          width: 300px;
        }
     
        .contact-button {
          margin-left: 25%;
        }
      }
     
      @media (max-width: 340px) {
        :root {
          --big-font: 1.7rem;
          --medium-font: 1.1rem;
        }
     
        .home-text span {
          font-size: 1rem;
        }
     
        .home-text h2 {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }